@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 24%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262 100% 80%;
    --primary-foreground: 0 0% 100%;
    --secondary: 11 100% 66%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 89%;
    --muted-foreground: 0 0% 50%;

    --accent: 11 100% 66%;
    --accent-foreground: 0 0% 100%;

    --destructive: 5 80% 51%;
    --destructive-foreground: 0 0% 18%;
    --warning: 44 96.85% 50.2%;
    --warning-foreground: 0 0% 18%;
    --success: 136 53% 43%;
    --success-foreground: 0 0% 18%;

    --border: 0 0% 86%;
    --input: 0 0% 76%;
    --ring: 262 100% 89%;

    --radius: 0.825rem;

    --h-topbar: 96px;
    --h-admin-topbar: 72px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-body text-foreground;
  }

  .h-without-topbar {
    height: calc(100vh - var(--h-topbar));
  }
  .mt-topbar {
    margin-top: var(--h-topbar);
  }

  .h-admin-topbar {
    height: var(--h-admin-topbar);
  }
  .h-without-admin-topbar {
    height: calc(100vh - var(--h-admin-topbar));
  }
  .mt-admin-topbar {
    margin-top: var(--h-admin-topbar);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  .textarea-scrollbar::-webkit-scrollbar {
    @apply w-4;
  }

  .textarea-scrollbar::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    @apply cursor-default rounded-[9999px] bg-secondary/60 bg-clip-padding;
  }

  .textarea-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary/70;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
